<div>
	<h3>Uppdatera information</h3>
	<%= form_for @user do |f| %>
		<%= f.label "Användarnamn"%><br>
		<%= f.text_field :username %><br>
		<%= f.label "Email" %><br>
		<%= f.text_field :email %><br>
		<% if current_user.admin? %>
			<%= f.label "Role" %><br>
			<%= f.text_field :role %><br>
		<% end %>
		<%= f.label "Nytt lösenord" %><br>
		<%= f.password_field :password %><br>
		<%= f.label "Nytt lösenord igen" %><br>
		<%= f.password_field :password_confirmation %><br>
		<%= f.submit "Uppdatera" %>
	<% end %>
</div>
