<div>
	<br><br/><br>
	<h1>Uppdatera framträdnde</h1>
	<%= form_for @performance do |f| %>
		<%= f.label "Namn" %><br>
		<%= f.text_field :name %><br>
		<%= f.label "Plats" %><br>
		<%= f.text_field :location %><br>
		<%= f.label "Datum" %><br>
		<%= f.label "År:" %>
		<%= select_tag :year, options_for_select(2015..2020, selected: @performance.year) %>
		<%= f.label "Månad:" %>
		<%= select_tag :month, options_for_select(1..12, selected: @performance.month) %>
		<%= f.label "Dag:" %>
		<%= select_tag :day, options_for_select(1..31, selected: @performance.day) %><br>
		<%= f.label "Tid" %><br>
		<%= f.text_field :time %><br>
		<%= f.label "Beskriving" %><br>
		<%= f.text_area :description %><br>
		<% @scores.each do |score| %>
			<% if @performance.scores.include?(score.name) %>
				<%= check_box_tag "scores[]", score.name, true %>
			<% else %>
				<%= check_box_tag "scores[]", score.name %>
			<% end %>
			<%= score.name %><br>
		<% end %>
		<%= f.submit "Uppdatera framträdande" %>
	<% end %>
</div>
