<div>
	<br><br/><br>
	<h1>Lägg till framträdande</h1>
	<%= form_for @performance do |f| %>
		<%= f.label "Namn" %><br>
		<%= f.text_field :name, class: "textfield" %><br>
		<%= f.label "Plats" %><br>
		<%= f.text_field :location, class: "textfield" %><br>
		<%= f.label "Datum" %><br>
		<%= f.label "År:" %>
		<%= select_tag :year, options_for_select(2015..2020) %>
		<%= f.label "Månad:" %>
		<%= select_tag :month, options_for_select(1..12) %>
		<%= f.label "Dag" %>
		<%= select_tag :day, options_for_select(1..31) %>
		<%= f.label "Tid:" %>
		<%= f.text_field :time, class: "time" %><br>
		<%= f.label "Beskriving" %><br>
		<%= f.text_area :description %><br>
		<% @scores.each do |score| %>
			<%= check_box_tag "scores[]", score.name %>
			<%= score.name %><br>
		<% end %>
		<%= f.submit "Lägg till framträdande", class: "btn-submit" %>
	<% end %>
</div>
